@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Bellefair&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Raleway&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bellefair&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Raleway&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(space-tourism-website-main/starter-code/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.nav-bar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  /* padding: 1em clamp(0.5em, 6vw, 0.4em) 1em clamp(0.4em, 3vw, 10em); */
  height: 20vh;
}
.nav-bar input {
  display: none;
}
.logo {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  background-color: #bfc4e211;
  backdrop-filter: blur(3em);
  position: relative;
  border-radius: 5px;
  height: 50%;
  padding: 0em clamp(1em, 10vw, 5em) 0em clamp(1em, 10vw, 5em);
  font-family: "Barlow Condensed", sans-serif;
}
nav > .primary-navigation a > span {
  font-weight: 600;
  margin-inline-end: 0.7em;
}
.primary-navigation {
  display: flex;
  list-style: none;
  height: 100%;
}
.primary-navigation li:nth-child(2)::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
li {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
li a::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
li a {
  font-size: clamp(1em, 1.4vw, 2em);
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}
li a:hover::after {
  width: 100%;
  opacity: 0.6;
}
li:not(a:last-of-type) {
  margin-right: min(2vw, 2em);
}
.mobile-nav-toggle {
  display: none;
  outline: none;
}
.bottom {
  padding: 1em clamp(0em, 3vw, 10em) 1em clamp(0.4em, 3vw, 10em);
}
.heading h5 {
  display: flex;
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  font-weight: 100;
  color: #fff;
  height: 2em;
  letter-spacing: 8px;
}
.heading h5 > p {
  color: #505259;
  margin-right: 12px;
}
.down {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.left {
  display: flex;
  align-items: center;
  justify-content: end;
  height: clamp(2em, 40vw, 25em);
  width: clamp(2em, 45vw, 33em);
}
.left img {
  height: 100%;
  width: 85%;
}
.right {
  margin-left: 12px;
  width: 80%;
}
.down h2 {
  font-family: "Bellefair", serif;
  font-size: clamp(1em, 6vw, 6em);
  font-weight: 400;
  color: #fff;
}
.down p {
  font-family: "Barlow", sans-serif;
  font-size: clamp(0.8em, 1.5vw, 2em);
  font-weight: 100;
  color: #bfc2c9;
  line-height: 1.35em;
  margin: 1em 0 1.5em;
}
.foot {
  display: flex;
  align-items: center;
}
.foot p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(0.8em, 1vw, 2em);
  font-weight: 400;
  margin: 12px 0;
  color: #bfc2c9;
}
.foot-right {
  margin-left: 12px;
}
.foot h5 {
  font-family: "Bellefair", sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  font-weight: 400;
  color: #fff;
}
.tin {
  align-self: center;
  position: absolute;
  height: 0.1px;
  width: clamp(1em, 30vw, 24em);
  background-color: #505259;
}
.down li:nth-child(1)::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
.down li a:hover::after {
  width: 100%;
  opacity: 0.6;
  color: #ffffff;
}
.down li {
  align-self: center;
  position: relative;
  height: 100%;
}
.down li a::after {
  position: absolute;
  width: 0%;
  height: 2px;
  content: "";
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);

  opacity: 0.7;
}
.down ul {
  display: flex;
  list-style: none;
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(1em, 3vw, 1.2em);
  font-weight: 400;
  height: 2em;
}
.down li a {
  font-size: clamp(0.5em, 2vw, 1em);
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.down li:not(a:last-of-type) {
  margin-right: min(2vw, 2em);
}
@media screen and (max-width: 450px) {
  body {
    background-image: url(space-tourism-website-main/starter-code/assets/destination/background-destination-mobile.jpg);
  }

  nav {
    position: fixed;
    align-self: flex-start;
    inset: 0 0 0 40%;
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(1em);
    padding: 0;
    transform: translateX(100%);
    border-radius: 2em;
    z-index: 1;
    transition: 0.5s ease-in-out;
  }

  .primary-navigation {
    flex-direction: column;
    height: 70vh;
    font-size: clamp(0.9em, 2vw, 2em);
    transition: 1s ease-in-out;
    padding-left: 2em;
  }

  .nav-bar:has(:checked) > nav {
    transform: translateX(0%);
  }

  .nav-bar {
    align-items: center;
  }

  .nav-bar input {
    display: none;
  }

  /* .primary-navigation[data-visible="true"]{
    transform: translateX(0%);
  } */

  li {
    height: 10%;
    letter-spacing: 5px;
  }

  nav li:nth-child(2)::after {
    width: 100%;
  }

  li a:hover::after {
    display: none;
  }

  li a:hover {
    transition: 0.3s ease-in-out;
    color: rgba(145, 161, 233, 0.664);
  }
  .line {
    display: none;
  }
  .mobile-nav-toggle {
    display: flex;
    position: absolute;
    background: url(./space-tourism-website-main/starter-code/assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 4rem;
    right: 2rem;
    z-index: 9999;
    outline: none;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-image: url(space-tourism-website-main/starter-code/assets/destination/background-destination-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 0 1em clamp(1em, 3vw, 10em);
    height: 10vh;
  }
  nav {
    display: flex;
    align-items: center;
    background-color: #bfc4e211;
    backdrop-filter: blur(3em);
    position: relative;
    border-radius: 5px;
    height: 100%;
    padding: 0em clamp(0.7em, 2vw, 3em);
    font-family: "Barlow Condensed", sans-serif;
  }
  li a {
    font-size: clamp(0.7em, 2vw, 2em);
    font-weight: 300;
    text-decoration: none;
    color: #fff;
  }
  .down {
    place-items: center;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .down h2 {
    font-family: "Bellefair", serif;
    font-size: clamp(5em, 7vw, 6em);
    font-weight: 400;
    color: #fff;
  }
  .down p {
    font-family: "Barlow", sans-serif;
    font-size: clamp(.9em, 2vw, 2em);
    font-weight: 100;
    color: #bfc2c9;
    line-height: 1.3em;
    margin-block: 1em;
  }

  .tin {
    width: 80%;
  }
  .right {
    margin: 0;
  }
  .foot,
  .down ul {
    justify-content: space-around;
  }
}
