@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Bellefair&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Raleway&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bellefair&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Raleway&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(space-tourism-website-main/starter-code/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em clamp(0em, 6vw, 0em) 1em clamp(0.4em, 3vw, 10em);
  height: 20vh;
}

.logo {
  display: flex;
  align-items: center;
}
.line {
  position: absolute;
  left: 8%;
  height: 0.1px;
  width: 35%;
  background-color: #fff;
  z-index: 1;
}
.nav-bar li:nth-child(2)::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
.nav-bar li {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
.nav-bar li a::after {
  position: absolute;
  width: 10;
  height: 2px;
  content: "";
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
}
.nav-right {
  display: flex;
  align-items: center;
  background-color: #bfc4e211;
  backdrop-filter: blur(4em);
  position: relative;
  border-radius: 5px;
  height: 60%;
  padding: 0em clamp(1em, 10vw, 5em) 0em clamp(1em, 9vw, 4em);
  font-family: "Barlow Condensed", sans-serif;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  height: 100%;
}
.nav-bar li a {
  font-size: clamp(1em, 1.5vw, 2em);
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.nav-bar li a:hover::after {
  width: 100%;
  opacity: 0.6;
}
.nav-bar li:not(a:last-of-type) {
  margin-right: min(2vw, 2em);
}
.nav-right svg {
  display: none;
}
input {
  display: none;
}
.bottom {
  padding: 1em clamp(0em, 3vw, 10em) 1em clamp(0.4em, 3vw, 10em); 
height: 60vh;
/* overflow: hidden; */
}
.heading h5 {
  display: flex;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  font-weight: 100;
  color: #fff;
  height: 2em;
  letter-spacing: 8px;
  margin-bottom: clamp(1em, 1vw, 1em);
}
.heading h5 > p {
  color: #9a9a9b;
  margin-right: 12px;
}
.down {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
.left { 
 display: flex;
 align-items: center;
 justify-content: center;
  height: clamp(2em, 40vw, 25em);
  width: clamp(2em, 45vw, 33em);

}
.left img {
  height: 100%;
  width: 85%;
}
.right{
  margin-left: 12px;
  width: 50%;
}
.down h2 {
  font-family: "Bellefair", serif;
  font-size: clamp(1em, 6vw, 6em);
  font-weight: 400;
  color: #fff;
}
.down p {
  font-family: "Barlow", sans-serif;
  font-size: clamp(.8em, 1.5vw, 2em);
  font-weight: 100;
  color: #bfc2c9;
  line-height: 1.35em;
  margin: 1em 0 1.5em;
}
.foot {
  display: flex;
  align-items: center;
}
.foot p{
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(.8em, 1vw, 2em);
  font-weight: 400;
  margin: 12px 0 ;
  color: #bfc2c9;
}
.foot-right{
  margin-left: clamp(1em, 2vw, 2em);
}
.foot h5{
  font-family: 'Bellefair', sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  font-weight: 400;
  color: #fff;
}
.tin {
  align-self: center;
  position: absolute;
  height: 0.1px;
  width: clamp(1em, 30vw, 24em) ;
  background-color:  #505259;
}
.down li:nth-child(2)::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
.down li a:hover::after {
  width: 100%;
  opacity: 0.6;
 color: #ffffff;
}
.down li {
  align-self: center;
  position: relative;
  height: 100%;
  
}
.down li a::after {
  position: absolute;
  width: 10;
  height: 2px;
  content: "";
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  
  opacity: 0.7;
}
.down ul {
  display: flex;
  list-style: none;
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(1em, 3vw, 1.2em);
  font-weight: 400;
  height: 2em;
}
.down li a {
  font-size: clamp(0.5em, 2vw, 1em);
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.down li:not(a:last-of-type) {
  margin-right: min(2vw, 2em);
}
@media screen and (max-width: 1030px) {
  .nav-bar {
    padding: 1.3em clamp(0.5em, 6vw, 0em) 1.3em clamp(1em, 9vw, 10em);
  }
  .nav-right {
    font-size: clamp(0.5em, 3vw, 3em);
    border-radius: 8px;
    height: 1em;
    padding: 0.9em clamp(0.5em, 3vw, 1em);
  }
  .nav-bar ul {
    position: absolute;
    right: 0;
    width: 20em;
    height: 8em;
    background-color: #1420387e;
    flex-direction: column;
    border-radius: 6px;
    gap: 1em;
    top: 100%;
    font-size: clamp(0.8em, 2vw, 2em);
    transition: 1s ease-in-out;
    padding: 1em;
  }
  .nav-bar li:not(a:last-of-type) {
    margin-right: min(0vw, 0em);
  }
  .nav-bar li:nth-child(2)::after {
    width: 26%;
  }
  .nav-bar li a:hover::after {
    display: none;
  }
  .nav-bar li a:hover {
    transition: 0.3s ease-in-out;
    color: rgba(35, 55, 145, 0.555);
  }
  .nav-right :checked ~ ul {
    display: none;
  }
  input {
    display: none;
  }
  .line {
    display: none;
  }
  .nav-right svg {
    transition: 1s ease-in-out;
    display: block;
  }
}
